module "vpc" {
  source    = "git@github.com:EdisonJunior/terraform-infra//modules/base-vpc"
  name      = "{{ data["global_config"]["name"] }}-${terraform.workspace}-vpc"
  region    = "{{ data["global_config"]["region"] }}"
  cidr_base = "{{ data["global_config"]["cidr_base"] }}"
}
